@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {
    float: right;
}

h1. {
	color: black; 
	font-family: 'Shift' American Typewriter;
}

h2. {
	color: blue;
	font-family: 'Shift' American Typewriter;
}

eslrTitle class. {
	font-family: 'Shift' bold;
}
<<<<<<< HEAD
a:hover {
    color: yellow;
    font-family: bold;
    font-size: 2 px;
}
=======

>>>>>>> Ashley-Wu
