@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {

}

h1. {
	color: black; 
	font-family: 'Shift' American Typewriter;
}

h2. {
	color: blue;
	font-family: 'Shift' American Typewriter;
}

eslrTitle class. {
	font-family: 'Shift' bold;
}

